<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/css/util.css">
	<link rel="stylesheet" type="text/css" href="public/css/main.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Fill in your Certification Details
				</span>


				<div class="wrap-input100 validate-input" data-validate="Vallid Roll Number is required">
					<label class="label-input100" for="roll">Roll Number</label>
					<input id="roll" class="input100" type="text" name="roll" placeholder="Enter your student roll number...">
					<span class="focus-input100"></span>
				</div>


				<div class="wrap-input100 validate-input" data-validate = "Valid unique ID is required: ex@abc.xyz">
					<label class="label-input100" for="unid">Unique ID</label>
					<input id="unid" class="input100" type="text" name="unid" placeholder="Enter the unique student ID...">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100">
					<div class="label-input100">Select your Grade</div>
					<div>
						<select class="js-select2" name="grade" id="grade">
							<option>Please choose</option>
							<option>Grade Ex</option>
							<option>Grade A</option>
							<option>Grade B</option>
							<option>Grade C</option>
                            <option>Grade D</option>
                            <option>Grade P</option>
						</select>
					<div class="dropDownSelect2"></div>
				</div>
				<span class="focus-input100"></span>
		</div>

		<div class="wrap-input100 validate-input" data-validate = "Subject Code is required">
			<label class="label-input100" for="subj">Subject Code</label>
			<textarea id="subj" class="input100" name="subj" placeholder="Enter your subject code here..."></textarea>
			<span class="focus-input100"></span>
		</div>

		<div class="container-contact100-form-btn">
			<button class="contact100-form-btn" id="issue">
				Issue Certificate
			</button>
		</div>

		<div class="container-contact100-form-btn">
			<button class="contact100-form-btn" >
				    View certificate
			</button>
		</div>

				<div class="contact100-form-social flex-c-m">
					<a href="#" class="contact100-form-social-item flex-c-m bg1 m-r-5">
						<i class="fa fa-facebook-f" aria-hidden="true"></i>
					</a>

					<a href="#" class="contact100-form-social-item flex-c-m bg2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>

					<a href="#" class="contact100-form-social-item flex-c-m bg3">
						<i class="fa fa-youtube-play" aria-hidden="true"></i>
					</a>
				</div>
			</form>

			<div class="contact100-more flex-col-c-m" style="background-image: url('public/images/bg-01.jpg');">
			</div>
		</div>
	</div>





<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
		$(".js-select2").each(function(){
			$(this).on('select2:open', function (e){
				$(this).parent().next().addClass('eff-focus-selection');
			});
		});
		$(".js-select2").each(function(){
			$(this).on('select2:close', function (e){
				$(this).parent().next().removeClass('eff-focus-selection');
			});
		});

	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        
	<script src="./fs.js"></script>
        <script src="./web3.min.js"></script>
	<script src="./SHA_256.js"></script>
	<script src="./issuer.js"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
              document.getElementById('issue').onclick = function() {
		                
		                
				var requiredCertificateData={}
				requiredCertificateData['roll']=document.getElementById("roll").value;
				
				
				requiredCertificateData['unid']=document.getElementById("unid").value;
				
				
				requiredCertificateData['grade']=document.getElementById("grade").value;
				
				
				requiredCertificateData['subj']=document.getElementById("subj").value;
				
				json=JSON.stringify(requiredCertificateData);
				console.log(json);        
				hashedData=JSON.stringify(SHA256(json));
				
				issue(requiredCertificateData, hashedData);
				}  
	</script>
</body>
</html>
