
<!DOCTYPE html>
<html>
	<head>
		<title>Ceritficate-V1</title>
	</head>

    <body>
		<h1>Enter the details to Issue a certificate</h1>
		<img src="nit.png" width="200" height="142">
		<form id="myform" encoding='UTF8'>
		FirstName:	<input type="text" name="firstName"><br>
		LasName:	<input type="text" name="lastName"><br>
		CGPA:		<input type="text" name="cgpa"><br>
		Department:	
		<input type="radio" name="department" value="ME">CSE<br>
		<input type="radio" name="department" value="ECE">ECE<br>
		<input type="radio" name="department" value="CSE">ME<br>
		<input type="submit" value="Submit">
		</form>
        <pre id="output"></pre>
    </body>
</html>